.error {
        word-wrap: break-word;
        padding: auto;

        padding: 10px;
        width: 90vw;

        border: 1px solid black;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
    }
