.error {
        word-wrap: break-word;
        padding: auto;

        padding: 10px;
        width: 90%;

        border: 1px solid black;
}

.error {
    word-wrap: break-word;
    padding: auto;

    padding: 10px;
    width: 90%;

    border: 1px solid black;
}