.auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.auth_form {
    position: fixed;
    top: 15%;
    margin-left: -150px;
    width: 30%;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.login_input {
    width: 100%;
    font-size: 100%;
    border: 1px solid #ddd;
    height: 3em;
    line-height: 1em;
    border-radius: 4px;
    font-weight: 400;
    position: relative;
    color: #555;
    background-color: transparent;
    /* padding-left: 20px; */
}


.pass_input {
    width: 100%;
    font-size: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #ddd;
    height: 3em;
    line-height: 1em;
    border-radius: 4px;
    font-weight: 400;
    position: relative;
    color: #555;
    transition: box-shadow .3s;
    background-color: transparent;
    z-index: 0;
    /* padding-left: 20px; */
}

.auth_button {
    outline: none;
    height: 48px;
    padding: 0 24px;
    line-height: 48px;
    color: #fff!important;
    font-weight: 500;
    background: #2c8ad8;
    border: 1px solid #2c8ad8;
    transition: all .2s;

    font-family: Roboto, sans-serif;
}